body {
    padding-top: 5rem;
    background-color:#f3f4f6;
}

.navmain{
    background-color:#14b8a6;
}

.form-container {
        max-width: 600px;
        margin: auto;
    }
.header-title {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}