body {
    padding-top: 5rem;
    background-color:#f3f4f6;
}

.navmain{
    background-color:#14b8a6;
}

.form-container {
        max-width: 600px;
        margin: auto;
    }
.header-title {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.card{
    width:30vw;
}
.card-price{
    background-color:#99c5fc;
    border-radius: 20px;
    color:white;
}

.view-property{
    background-color: #14b8a6;
    color: white;
    border-radius: 0;
    height:7vh;
    font-size:1.2em;

}
.property-img{
    width:100%;

}
.property-container{
    width:100%;
}
.property-card{
    width:50%;
}
.card-type{
    background-color:#fabf24;
    border-radius: 20px;
    color:white;
}
.btn-normal{
    background-color: #14b8a6;
    color:white;
    padding:10px;
    width:20%;
}