{% extends "base.html" %}
{% block css %}
{% endblock %}

{% block main %}
<div class="container">
<h1>Properties</h1>
    <div class="row">
        {% for property in properties %}
        <div class="col-md-5 p-3">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('uploaded_file', filename=property.image) }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ property.title }}</h5>
                    <p class="card-text"> <i class="bi bi-geo-alt"></i>{{ property.location }}</p>
                     <button class="card-price btn" data-price="{{ property.price }}"></button>
                </div>
                <button class="btn btn-primary view-property" data-id="{{ property.id }}">View Property</button>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
